# dependencies
node_modules/

# output extract
structures/

# minecraft worlds
*.mcworld
minecraftWorlds/

# OS junk
.DS_Store
Thumbs.db

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# npm pack artifacts
*.tgz
